.LoginImg img {
  width: 100% !important;
  height: 50vh;
}
.LoginImg {
  text-align: center;
}
.Loginform{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0px 0px 1px 3px gray;
}
